/* 
choix des couleurs:
pseudo noir : #0C0F0A
rose: #FE277E
vert:#47EAD0
blanc:#FFFFFF


choix de la police:
font pairing : serif and sans-serif
title:Playfair Display
paragraph:Source Sans Pro */

/* titre */
h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
}
/* paragraphe */
p,span,div,a,li{
    font-family: 'Source Sans Pro', sans-serif;
}
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Header*/
header{
    height: 100px;
    padding: 10px 0;
    width: 100%;
}
.bg-dark{
    background-color: #0C0F0A !important;
    z-index: 1;
}
.nav-link{
    color:#fff !important
}
.nav-link:hover:not(.active a){
    color: #47EAD0 !important;
    text-decoration: underline;
    font-style: italic;
}
.active a{
    color:#47EAD0 !important;
    font-weight: bold;
}
button{
    margin: 0 10px;
    color:#fff !important;
    background-color: #FE277E!important;
    border:none !important;
}
button:hover{
   color: #0C0F0A !important;
    background-color: #47EAD0 !important;
}
.modal-title{
    margin: 0 auto;
}
/*main*/
.main{
    margin: 7%;
}
.container-fluid{
    width: auto;
}
.histoire{
    margin: 7% 0;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FE277E' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FE277E' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }
.carousel-item h5{
    color: #FE277E;
   }
.carousel-indicators li{
    background-color: #0C0F0A;
}
.carousel-indicators .active{
    background-color: #FE277E;
}
/* Footer */
.footer{
    width: 100%;
    height: 15%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
/*bouton footer*/
.bouton{
    border-radius: 4px;
    border: none;
  text-align: center;
  background-color: #FE277E;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.bouton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #fff;
}
.bouton span:after {
    content: "\260E";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.bouton2 span:after {
    content: "\2709";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.bouton:hover{
    background-color: #47EAD0;
}
.bouton span:hover {
    padding-right: 25px;
    color: #0C0F0A;
}
  
.bouton:hover span:after {
    opacity: 1;
    right: 0;
}
/* fin bouton footer */