/* 
choix des couleurs:
pseudo noir : #0C0F0A
rose: #FE277E
jaune :#FCFE19
vert:#47EAD0
blanc:#FFFFFF


choix de la police:
font pairing : serif and sans-serif
title:Playfair Display
paragraph:Source Sans Pro */

/* titre */
h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
}
/* paragraphe */
p,span,div,a,li{
    font-family: 'Source Sans Pro', sans-serif;
}
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Header*/
header{
    height: 100px;
    padding: 10px 0;
    width: 100%;
}
/*main*/
.main{
    margin: 2% 5%;
}
.container-fluid{
    width: auto;
}
/* Footer */
footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
}